{% extends 'base.html' %}
{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>Login</h2>
        </div>
    </div>
    <!-- End Breadcrumbs -->
    <div class='container' data-aos='fade-up' style="margin-top: 5px;">

        {% if form.errors %}
            {% for error in form.errors %}
                <ul>
                    <li>{{ error|escape }}</li>
                </ul>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="id_username">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="id_password">
                </div>
            </div>
            <button type="submit" class="btn btn-warning">Sign in</button>
        </form>
        <p> New user? <a href="{% url 'accounts:register' %}">Signup</a></p>

    </div>
{% endblock content %}
