{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Educative</title>
    <!--  <meta content="" name="description">-->
    <!--  <meta content="" name="keywords">-->

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Mentor - v2.1.0
    * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo mr-auto"><a href="{% url 'course:home' %}">Educative</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="base.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
                    <ul>
            <!--          <li class="active"><a href="index.html">Home</a></li>-->
            <!--          <li><a href="about.html">About</a></li>-->
                        <li><a href="{% url 'course:courseList' %}">Courses</a></li>
                        <!-- <li><a href="{% url 'course:courseList' %}">Courses</a></li> -->
            <!--          <li><a href="pricing.html">Pricing</a></li>-->
            <!--          <li class="drop-down"><a href="">Drop Down</a>-->
            <!--            <ul>-->
            <!--              <li><a href="#">Drop Down 1</a></li>-->
            <!--              <li class="drop-down"><a href="#">Deep Drop Down</a>-->
            <!--                <ul>-->
            <!--                  <li><a href="#">Deep Drop Down 1</a></li>-->
            <!--                  <li><a href="#">Deep Drop Down 2</a></li>-->
            <!--                  <li><a href="#">Deep Drop Down 3</a></li>-->
            <!--                  <li><a href="#">Deep Drop Down 4</a></li>-->
            <!--                  <li><a href="#">Deep Drop Down 5</a></li>-->
            <!--                </ul>-->
            <!--              </li>-->
            <!--              <li><a href="#">Drop Down 2</a></li>-->
            <!--              <li><a href="#">Drop Down 3</a></li>-->
            <!--              <li><a href="#">Drop Down 4</a></li>-->
            <!--            </ul>-->
            <!--          </li>-->
            <!--          <li><a href="contact.html">Contact</a></li>-->

                    </ul>
        </nav><!-- .nav-menu -->

        <a href="{% url 'account:register' %}" class="get-started-btn">Get Started</a>

    </div>
</header><!-- End Header -->


<!-- ======= Main Section ======= -->
<main id="main" class="container">
    {% block content %}
    {% endblock %}
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="container d-md-flex py-4">

        <div class="mr-md-auto text-center text-md-left">
            <div class="copyright">
                &copy; Copyright <strong><span>Educative</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
<script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>
